<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Event</title>
  </head>
  <body>
    <form action="#">
      <h2>Event Configuration</h2>
    
      <p id="messegeIfInvalid">
        Condition cannot be empty.
      </p>
    
      <p>
        <label for="visitor-name">Visitor Name</label>
        <input type="text">
      </p>
    
    </form>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            // TODO Populate form values from persisted settings.
          }
        },
 
        getSettings: function() {
          // TODO Return settings object from form values.
        },

        validate: function() {
          // TODO Return whether settings are valid.
        }
      });
    </script>
  </body>
</html>
