<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Action</title>
  </head>
  <body>
    Action Template

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            // TODO Populate form values from persisted settings.
            document.querySelector('#visitorName').value = info.settings.visitorName;
            document.querySelector('#message').value = info.settings.message;
          } else {
            document.querySelector('#visitorName').value = 'visitor';
            document.querySelector('#message').value = 'Welcome';
          }
        },

        getSettings: function() {
          // TODO Return settings object from form values.
          return {
            visitorName: document.querySelector('#visitorName').value,
            message: document.querySelector('#message').value
          }
        },

        validate: function() {
          // TODO Return whether settings are valid.
          var valid = false;
          visitorName: document.querySelector('#visitorName').value;
          message: document.querySelector('#message').value;

          if (visitorName && message) {
            valid = true;
          }

          if (!valid) {
            document.querySelector('#ifNotValid').style.display = 'block';
          } else {
            document.querySelector('#ifNotValid').style.display = 'none';
          }
          return valid;
        }
      });
    </script>
  </body>
</html>
