<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Action</title>
  </head>
  <body>
    <form>
      <h2>Floodlight Tag</h2>

      <p>
        <label for="advertiserId">Advertiser ID</label><br>
        <input id="advertiserId" type="text">
      </p>

    <p>
      <label for="groupId">Group ID</label><br>
      <input id="groupId" type="text">
    </p>

    <p>
      <label for="activityId">Activity ID</label><br>
      <input id="activityId" type="text">
    </p>

    <div id='counting-methods'>
      <input type="radio" id="standard" name="counting-method" value="standard" checked='checked'>
      <label for="standard">Standard</label>

      <input type="radio" id="unique" name="counting-method" value="unique">
      <label for="unique">Unique</label>
    </div>

    </form>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="floodlightTag.js"></script>
  </body>
</html>
